<div class="l-container">
    <div class="l-sidebar">
        <div class="logo">Bus hunter - автобусы во Владивостоке</div>
    </div>
    <div class="l-content js-map">
    </div>
    <div class="js-map-refresh"></div>
</div>
