<div class="l-container">
    <div class="l-sidebar">
        <a class="logo" href="#">Bus hunter</a>
    </div>
    <div class="l-content js-map">
    </div>
    <div class="js-map-refresh"></div>
</div>
