<!DOCTYPE html>
<html>
<head>
    <title>BusHunter</title>
    <%= stylesheet_link_tag    "normalize", :media => "all" %>
    <%= stylesheet_link_tag    "style", :media => "all" %>
    <link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.css" media="all">
    <!--[if lte IE 8]><link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.ie.css" /><![endif]-->
    <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://code.leafletjs.com/leaflet-0.3.1/leaflet.js"></script>
<script defer src="/assets/script.js"></script>
</body>
</html>
